
  <!-- homepage -->

<div class="homepage" id="homepage">
  <div class="header-content">
    <h1 class="name">Kirsten Frager</h1>
  </div>
  <div class="background-wrap">
    <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
      <source src="http://res.cloudinary.com/df0hftplx/video/upload/v1489117138/austria-video_tjptkd.mp4" type="video/mp4">
          Video not supported
    </video>
  </div>

</div>

<!-- <div class="dronepic-one">
</div> -->

<!-- about me section -->

<div class="about about-screen" id="about">
  <div class="container">
    <div class="row about-row">
      <div class="col-md-12 about-text">
          <p class="about-paragraph">
            Full-stack developer in the making based in Sydney, Australia. Holder of a Diploma of Software Development and a Bachelor of Business, majoring in Marketing and German.
          <p class="about-paragraph">
            I’m an enthusiast of web design and enjoying a small victory dance ocne my code finally works!
          </p>
          <p class="about-paragraph">
            In my free time, you’ll find me travelling the world with my drone hovering above me.
          </p>
          <p class="about-paragraph">
            My goal is to combine my passions of code, web and drone technology to reach ultimate enlightenment.
          </p>
          <p class="about-paragraph">
            If you’ve got a project, hopeful idea or need a spotter when you’re next flying your drone, don’t hesitate to get in touch!
          </p>
        </div>
    </div>
  </div>
</div>


<!-- <div class="col-md-7 card-title pull-right">
  <h1> About me</h1>
</div> -->


<div class="dronepic-two">
</div>





<!-- skills and experience section -->

<div id="skills-experience" class="container skills-section">
  <div class="skills screen">
    <div id="experience">
      <div class="col-md-8">
        <h2 class="exp-title">Experience</h2>
        <div class="insidebox">
          <ul class="experience-ul">
              <li class="experience-li">
                  <a class="experience-a" href="https://www.coderfactoryacademy.edu.au/fast-track"></a>
                  <p class="experience-p"><span class= "font-bold">Coder Factory Academy</span><br>Diploma of <br>Software Development</p>
              </li>
              <li class="experience-li">
                    <a class="experience-a"></a>
                  <p class="experience-p"><span class= "font-bold">Virgin Australia</span><br>Ground Operations</p>
              </li>
              <li class="experience-li">
                  <a class="experience-a"></a>
                  <p class="experience-p"><span class= "font-bold">University of Technology Sydney</span><br>Bachelor of Business <br>and Marketing</p>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="skills">
      <div class="row skills-row">
        <div class="col-md-4">
          <h1>Skills</h1>
          <ul class="skills-ul">
            <li>
              <a href="#projects">Web Design</a>
            </li>
            <div class="box" id="one"></div>
            <li>
            <li>
              <a href="#projects">Ruby</a>
            </li>
            <div class="box" id="two"></div>
            <li>
            <li>
              <a href="#projects">HTML</a>
            </li>
            <div class="box" id="three"></div>
            <li>
            <li>
              <a href="#projects">CSS</a>
            </li>
            <div class="box" id="four"></div>
            <li>
              <li>
                <a href="#projects">Rails</a>
              </li>
              <div class="box" id="five"></div>
              <li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dronepic-three">
</div>

<!-- projects page -->

<div class="projects screen" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-box quizgif">
        <a href="https://github.com/kirstenfrager/cfa-project-group-quiz" target="_blank" class="project-name">Quiz Terminal Project
        </a>
      </div>
      <div class="col-md-4 p-box github">
        <a href="https://github.com/kirstenfrager" target="_blank" class="project-name">GitHub
        </a>
      </div>
      <div class="col-md-4 p-box tempgif">
        <a href="https://github.com/kirstenfrager/CFA-weather-forecast-app" target="_blank" class="project-name">Temperature App
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-box zengif">
        <a
        href="http://codepen.io/hankicarl/full/MppyBW/" target="_blank" class="project-name">CSS Zen Garden
        </a>
      </div>
      <div class="col-md-4 p-box calcgif">
        <a href="#" target="_blank" class="project-name">Calculator Terminal App
        </a>
      </div>
      <div class="col-md-4 p-box donaldtrump">
        <a href="#" target="_blank" class="project-name">Celebrity Website
        </a>
      </div>
    </div>
  </div>
</div>









<!-- contacts page -->

<div class="parallax">
  <div class="contact screen" id="contact">
        <div class="tridiv">
          <div class="col-md-7 contact-position">
            <div class="contact-text">
              <h1 class="cntact-title">Contact</h1>
                <ul class="no-bullets contact-methods">
            			<li>
                    <a href="https://github.com/kirstenfrager"><img class="invert" src="https://image.flaticon.com/icons/png/512/25/25231.png" height="35px"> https://github.com/kirstenfrager</a>
                  </li>
                  <br>
                  <li>
                    <a href="#"><img class="invert" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Users-Email-icon.png" height="35px"> kirsten.frager@hotmail.com</a>
                  </li>
          		  </ul>
            </div>
          </div>
        </div>
  </div>
</div>
