/*experience section*/


#experience {
  float: left;
  margin: 2em auto;
  padding-top: 15px;
  height: 670px;
  /*filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));*/
  border-radius: 20px;
}

.exp-title {
  font-family: 'Gloss and Bloom', Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 80px;
  padding: 80px 50px;
  // text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  padding-top: 20px;
}

.insidebox {
  height: 510px;
  width: 625px;
  margin-top: -55px;
  margin-left: -15px;
  margin-right: -15px;
}

/*code for experience boxes*/

/*ul is all of content box*/
.experience-ul {
  /*border: 4px solid green;*/
  display: inline-block;
  height: 500px;
  position: relative;
  width: 625px;
}

.experience-li {
  font: 16px/100px "Rock Salt";
  height: 150px;
}

.experience-a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 250px;
  height: 150px;
  margin-left: -45px;
}

.experience-li:first-child a {
  border-top: none;
  background-image: url("http://res.cloudinary.com/df0hftplx/image/upload/v1489122832/coderfactory-logo_a7lw7t.png");
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: -10px;
  /*height: 150px;*/
}

.experience-li:nth-child(2) a {
  background-image: url("http://res.cloudinary.com/df0hftplx/image/upload/v1489122860/virgin_aqehah.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.experience-li:nth-child(3) a {
  background-image: url("http://res.cloudinary.com/df0hftplx/image/upload/v1489122852/uts-logo_xcu1df.png");
  background-size: cover;
}

.experience-p {
  font-family: "Laila", serif;
  font-size: 15px;
  text-align: center;
  display: none;
  height: 301px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
}

.font-bold {
  font-size: 18px;
  font-weight: 700;
}

/*.experience-li:nth-child(1) .experience-a:hover {
}*/

.experience-a:hover + .experience-p,
.experience-p:hover {
  display: block;
}



/* Div for skillset section */



#skills {
  border-radius: 20px;
  /*box-shadow: 0 0 10px 10px #9E9E9E;*/
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
  margin: 5em auto;
  /*padding-top: 10px;*/
  max-width: 35%;
  background: #BEC0C6;
  float: right;
  /*display: block;*/
  height: 600px;
  /*border: 2px solid #131313;*/
}

#skills h1 {
  text-align: center;
  margin: -5px;
  width: 100%;
}


/* Skill list items */

li {
  letter-spacing: .1em;
  text-transform: uppercase;
  max-font-size: 1.3em;
  /*font-family: "Rock Salt", cursive;*/
  padding: 0;
}

.skills-ul {
  text-align: left;
  list-style-type: none;
  width: 400px;
  font-family: "Rock Salt", cursive;
}

.skills-section {
  /*padding: 15px 0;*/
  /*margin: 5px 0;*/
}

/*creating glowing link on hover*/
li a {
  font-size: 16px;
	color: black;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

li a:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px #051E51;
  text-decoration: none;
}


/* black Containers for skill levels */

.box {
  height: 1em;
  width: 93%;
  border: .2em solid #2D2D2D;
  border-radius: 3px;
  display: inline-block;
  margin: .5em 0 2em;
  text-align: center;
}


/* Skill levels */

#one {
  height: .7em;
  width: 35%;
  background: #00BCD4;
  display: block;
}

#two {
  height: .7em;
  width: 35%;
  background: #00BCD4;
  display: block;
}

#three {
  height: .7em;
  width: 20%;
  background: #00BCD4;
  display: block;
}

#four {
  height: .7em;
  width: 20%;
  background: #00BCD4;
  display: block;
}

#five {
  height: .7em;
  width: 10%;
  background: #00BCD4;
  display: block;
}



/* Large hover state for animation */

#skills:hover #one,
#skills:hover #two,
#skills:hover #three,
#skills:hover #four,
#skills:hover #five,
#skills:hover #six {
  animation: grow 1.4s .3s cubic-bezier(0.39, 0.07, 0.16, 0.97);
}


/* Keyframe */

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    transform: 100%;
  }
}
